# Identificativi pubblici: non inserire mai segreti in questo file.
NUXT_PUBLIC_IUBENDA_SITE_ID=
NUXT_PUBLIC_IUBENDA_COOKIE_POLICY_ID=
NUXT_PUBLIC_IUBENDA_PRIVACY_POLICY_ID=
NUXT_PUBLIC_ANALYTICS_MEASUREMENT_ID=
