
@use 'bootstrap/scss/bootstrap' with (
  $danger: #B3221C
);

button,
a,
input,
select,
textarea,
summary,
[tabindex] {
  &:focus {
    outline: none;
    box-shadow: none !important;
  }

  &:focus-visible {
    outline: 3px solid currentColor;
    outline-offset: 2px;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
}

.splash-visto .loading-screen {
  display: none !important;
}
